body {

    font-family: "Poppins", sans-serif;
    margin: 0px;
}

h1 {
    font-size: 50px;
}

.hriday-c {

    color: orange;

}

section {

    display: flex;
}

.wi {
    width: 50%;
    padding-left: 5%;

}

.wi img {
    width: 100%;
}

.hire-me {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;

}

.top-bg {
    background-image: url(bgt.jpg);
    background-repeat: no-repeat;
}

.life-t-c {
    color: rgb(201, 26, 201);
    font-size: 50px;

}

.exp {
    font-size: 50px;
}

.flexible-container {
    display: flex;
    margin-bottom: 150px;
    margin-left: 150px;
    margin-right: 50px;

}

.dream-big {

    background-image: url(bn3.jpg);
    background-repeat: no-repeat;


}

.exp-1 {
    color: orange;
}

.exprience-i {
    width: 50%;
    padding-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px gray;


}

#web-exprince {
    border-left: 15px solid;
    border-image: linear-gradient(rgb(24, 8, 243), rgb(4, 232, 240));
    border-image-slice: 1;
}

#app-exprince {
    border-left: 15px solid;
    border-image: linear-gradient(rgb(8, 227, 235), rgb(10, 6, 231));
    border-image-slice: 1;

}

.exprience-area {
    background-image: url(futer-bk.jpg);
    background-repeat: no-repeat;

}

footer {
    text-align: center;

}